<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970733236378-7ej3v6s7m6hl4klmls20mps366m0nitk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970733236378-7ej3v6s7m6hl4klmls20mps366m0nitk</string>
	<key>API_KEY</key>
	<string>AIzaSyANw2cI20_0xuVM-puM5wMWK4Afw4Qh5to</string>
	<key>GCM_SENDER_ID</key>
	<string>970733236378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisrehagen.Top-Set</string>
	<key>PROJECT_ID</key>
	<string>top-set</string>
	<key>STORAGE_BUCKET</key>
	<string>top-set.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970733236378:ios:fc89b2aafa863504d96f23</string>
	<key>DATABASE_URL</key>
	<string>https://top-set.firebaseio.com</string>
</dict>
</plist>